:root {
  font-family: 'Poppins', sans-serif;
  --palette1-color-1: #0D1B2A;
  --palette1-color-2: #1B263B;
  --palette1-color-3: #415A77;
  --palette1-color-4: #778DA9;
  --palette1-color-5: #E0E1DD;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  list-style: none;
  text-decoration: none;
}

a:link,
a:visited,
a:active {
  /* text-decoration:none; */
  color: inherit;
}

body {
  background-color: var(--palette1-color-5);
  color: var(--palette1-color-1);
}

header {
  background-color: var(--palette1-color-4);
  color: var(--palette1-color-5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo h1 {
  font-weight: 900;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  color: var(--palette1-color-2);
}

.header-logo-img {
  display: block;
  margin: 1.2rem;
}

.navbar-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-item {
  margin-left: 0.5rem;
  margin-right: 1.2rem;
  font-weight: bold;
}

.navbar-item:hover {
  color: var(--palette1-color-1);
}

.section-title {
  background-color: var(--palette1-color-2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem;
}

.section-title i,
h2 {
  color: var(--palette1-color-5);
}

.aboutme-info-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding-top: 1.22rem;
  padding-bottom: 1.2rem;
}

.aboutme-left-content {
  display: block;
  max-width: 30rem;
  flex-basis: 40%;
}

.aboutme-right-content {
  flex-basis: 50%;
  line-height: 1.9rem;
}

.section-title {
  color: var(--palette1-color-1);
}

.aboutme-info-container img {
  width: 50%;
}
.projects-container {
  padding-top: 1.22rem;
  padding-bottom: 1.2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
footer {
  background-color: var(--palette1-color-3);
  color: var(--palette1-color-5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}

.footer-contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.footer-contact-item:hover {
  color: var(--palette1-color-1);
}

.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer-menu-item a:hover {
  color: var(--palette1-color-1);
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-icon-circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--palette1-color-5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
}

.social-icon-circle:hover {
  color: var(--palette1-color-1);
  border-color: var(--palette1-color-1);
}