:root {
  font-family: 'Poppins', sans-serif;
  --palette1-color-1: #0D1B2A;
  --palette1-color-2: #1B263B;
  --palette1-color-3: #415A77;
  --palette1-color-4: #778DA9;
  --palette1-color-5: #E0E1DD;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  list-style: none;
  text-decoration: none;
}

a:link,
a:visited,
a:active {
  /* text-decoration:none; */
  color: inherit;
}

body-container {
  background-color: var(--palette1-color-5);
  color: var(--palette1-color-1);
  margin: 0 auto;
  width: 100vw;
}

header {
  background-color: var(--palette1-color-4);
  color: var(--palette1-color-5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  padding-left: 1rem;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo h1 {
  font-weight: 900;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  color: var(--palette1-color-2);
}

.header-logo-img {
  display: block;
  margin: 1rem;
}

.navbar-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-item {
  margin-left: 0.5rem;
  margin-right: 1.2rem;
  font-weight: bold;
}

.navbar-item:hover {
  color: var(--palette1-color-1);
}

.section-title {
  background-color: var(--palette1-color-2);
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  padding: 1rem 4rem;
}

.section-title i,
h2 {
  color: var(--palette1-color-5);
}

.aboutme-info-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.aboutme-left-content {
  display: block;
  max-width: 30rem;
  flex-basis: 48%;
}

.aboutme-right-content {
  flex-basis: 49%;
  line-height: 1.9rem;
}



.aboutme-info-container img {
  width: 45%;
}

.projects-container {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.stack-container {
  display: grid;
  justify-items: center;
  align-items:flex-start;
  row-gap: 1rem;
  padding: 2rem 4rem;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-flow: row;
}

.stack-layer {
  border: 1px solid var(--palette1-color-3);
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  height: 8rem;
  background-color: whitesmoke;
}

.stack-layer-title {
  background-color: var(--palette1-color-3);
  color: var(--palette1-color-5);
  font-weight: 400;
  padding: 1rem 1rem;
  text-align: center;
  width: 15rem;
}

.stack-layer-tools {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  grid-auto-flow: row;
  row-gap: 0.2rem;
  justify-content: center;
  align-content: center;
  padding: 1.2rem 0rem;
}

.stack-layer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 1rem; */
}

.resources-container {
  padding: 2rem 4rem;
}

.resources-container p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.resource-list li i {
  margin: 0 0.5rem;
}

.resource-list a {
  font-size: 0.9rem;
  font-style: italic;
}

footer {
  background-color: var(--palette1-color-3);
  color: var(--palette1-color-5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}

.footer-contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.footer-contact-item:hover {
  color: var(--palette1-color-1);
}

.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer-menu-item a:hover {
  color: var(--palette1-color-1);
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-icon-circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--palette1-color-5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
}

.social-icon-circle:hover {
  color: var(--palette1-color-1);
  border-color: var(--palette1-color-1);
}